@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root{
  --color-nka-background: oklch(0.9900 0 0);
  --color-nka-foreground: oklch(0 0 0);

  --color-nka-elevated: oklch(1 0 0);
  --color-nka-elevated-foreground: oklch(0 0 0);

  --color-nka-overlay: oklch(0.9900 0 0);
  --color-nka-overlay-foreground: oklch(0 0 0);

  --color-nka-primary: oklch(0 0 0);
  --color-nka-primary-foreground: oklch(1 0 0);

  --color-nka-secondary: oklch(0.9400 0 0);
  --color-nka-secondary-foreground: oklch(0 0 0);

  --color-nka-muted: oklch(0.9700 0 0);
  --color-nka-muted-foreground: oklch(0.4400 0 0);

  --color-nka-accent: oklch(0.9400 0 0);
  --color-nka-accent-foreground: oklch(0 0 0);

  --color-nka-success: oklch(0.65 0.15 150);
  --color-nka-success-foreground: oklch(0 0 0);
  
  --color-nka-error: oklch(0.6300 0.1900 23.0300);
  --color-nka-error-nka-foreground: oklch(1 0 0);

  --color-nka-warning: oklch(0.8100 0.1700 75.3500);
  --color-nka-warning-foreground: oklch(0 0 0);

  --color-nka-info: oklch(0.5500 0.2200 264.5300);
  --color-nka-info-foreground: oklch(0 0 0);

  --color-nka-border: oklch(0.9200 0 0);
  --color-nka-input: oklch(0.9400 0 0);
  --color-nka-ring: oklch(0.708 0 0);

  --color-nka-scrim: oklch(0 0 0 / 0.5);
}

.dark{

  --color-nka-background: oklch(0 0 0);
  --color-nka-foreground: oklch(1 0 0);

  --color-nka-elevated: oklch(0.1400 0 0);
  --color-nka-elevated-foreground: oklch(1 0 0);

  --color-nka-overlay: oklch(0.1800 0 0);
  --color-nka-overlay-foreground: oklch(1 0 0);

  --color-nka-primary: oklch(1 0 0);
  --color-nka-primary-foreground: oklch(0 0 0);

  --color-nka-secondary: oklch(0.2500 0 0);
  --color-nka-secondary-foreground: oklch(1 0 0);

  --color-nka-muted: oklch(0.2300 0 0);
  --color-nka-muted-foreground: oklch(0.7200 0 0);

  --color-nka-accent: oklch(0.3200 0 0);
  --color-nka-accent-foreground: oklch(1 0 0);

  --color-nka-success: oklch(0.65 0.15 150);
  --color-nka-success-foreground: oklch(0 0 0);
  
  --color-nka-error: oklch(0.6900 0.2000 23.9100);
  --color-nka-error-nka-foreground: oklch(0 0 0);

  --color-nka-warning: oklch(0.8100 0.1700 75.3500);
  --color-nka-warning-foreground: oklch(0 0 0);

  --color-nka-info: oklch(0.5800 0.2100 260.8400);
  --color-nka-info-foreground: oklch(0 0 0);

  --color-nka-border: oklch(0.2600 0 0);
  --color-nka-input: oklch(0.3200 0 0);
  --color-nka-ring: oklch(0.7200 0 0);

  --color-nka-scrim: oklch(0 0 0 / 0.8);
}

@theme{
  --color-nka-background: var(--color-nka-background);
  --color-nka-foreground: var(--color-nka-foreground);

  --color-nka-primary: var(--color-nka-primary);
  --color-nka-primary-foreground: var(--color-nka-primary-foreground);

  --color-nka-secondary: var(--color-nka-secondary);
  --color-nka-secondary-foreground: var(--color-nka-secondary-foreground);

  --color-nka-muted: var(--color-nka-muted);
  --color-nka-muted-foreground: var(--color-nka-muted-foreground);

  --color-nka-accent: var(--color-nka-accent);
  --color-nka-accent-foreground: var(--color-nka-accent-foreground);

  --color-nka-success: var(--color-nka-success);
  --color-nka-success-foreground: var(--color-nka-success-foreground);
  
  --color-nka-error: var(--color-nka-error);
  --color-nka-error-nka-foreground: var(--color-nka-error-nka-foreground);

  --color-nka-warning: var(--color-nka-warning);
  --color-nka-warning-foreground: var(--color-nka-warning-foreground);

  --color-nka-info: var(--color-nka-info);
  --color-nka-info-foreground: var(--color-nka-info-foreground);

  --color-nka-border: var(--color-nka-border);
  --color-nka-input: var(--color-nka-input);
  --color-nka-ring: var(--color-nka-ring);

  --color-nka-scrim: var(--color-nka-scrim);
}

@layer base {
  * {
    @apply border-nka-border;
  }

  body {
    @apply antialiased text-nka-foreground bg-nka-background font-sans;
  }
}