@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root{
  --color-background: oklch(0.9900 0 0);
  --color-foreground: oklch(0 0 0);

  --color-elevated: oklch(1 0 0);
  --color-elevated-foreground: oklch(0 0 0);

  --color-overlay: oklch(0.9900 0 0);
  --color-overlay-foreground: oklch(0 0 0);

  --color-primary: oklch(0 0 0);
  --color-primary-foreground: oklch(1 0 0);

  --color-secondary: oklch(0.9400 0 0);
  --color-secondary-foreground: oklch(0 0 0);

  --color-muted: oklch(0.9700 0 0);
  --color-muted-foreground: oklch(0.4400 0 0);

  --color-accent: oklch(0.9400 0 0);
  --color-accent-foreground: oklch(0 0 0);

  --color-success: oklch(0.65 0.15 150);
  --color-success-foreground: oklch(0 0 0);
  
  --color-error: oklch(0.6300 0.1900 23.0300);
  --color-error-foreground: oklch(1 0 0);

  --color-warning: oklch(0.8100 0.1700 75.3500);
  --color-warning-foreground: oklch(0 0 0);

  --color-info: oklch(0.5500 0.2200 264.5300);
  --color-info-foreground: oklch(0 0 0);

  --color-border: oklch(0.9200 0 0);
  --color-input: oklch(0.9400 0 0);
  --color-ring: oklch(0.708 0 0);

  --color-scrim: oklch(0 0 0 / 0.5);
}

.dark{

  --color-background: oklch(0 0 0);
  --color-foreground: oklch(1 0 0);

  --color-elevated: oklch(0.1400 0 0);
  --color-elevated-foreground: oklch(1 0 0);

  --color-overlay: oklch(0.1800 0 0);
  --color-overlay-foreground: oklch(1 0 0);

  --color-primary: oklch(1 0 0);
  --color-primary-foreground: oklch(0 0 0);

  --color-secondary: oklch(0.2500 0 0);
  --color-secondary-foreground: oklch(1 0 0);

  --color-muted: oklch(0.2300 0 0);
  --color-muted-foreground: oklch(0.7200 0 0);

  --color-accent: oklch(0.3200 0 0);
  --color-accent-foreground: oklch(1 0 0);

  --color-success: oklch(0.65 0.15 150);
  --color-success-foreground: oklch(0 0 0);
  
  --color-error: oklch(0.6900 0.2000 23.9100);
  --color-error-foreground: oklch(0 0 0);

  --color-warning: oklch(0.8100 0.1700 75.3500);
  --color-warning-foreground: oklch(0 0 0);

  --color-info: oklch(0.5800 0.2100 260.8400);
  --color-info-foreground: oklch(0 0 0);

  --color-border: oklch(0.2600 0 0);
  --color-input: oklch(0.3200 0 0);
  --color-ring: oklch(0.7200 0 0);

  --color-scrim: oklch(0 0 0 / 0.8);
}

@theme{
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);

  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  
  --color-error: var(--color-error);
  --color-error-foreground: var(--color-error-foreground);

  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);

  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);

  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);

  --color-scrim: var(--color-scrim);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased text-foreground bg-background font-sans;
  }
}